{% extends 'base.html.twig' %}
{% block title %}Page d'accueil{% endblock %}
{% block body %}
<div class="container mt-4 text-center">
    <h1>Bienvenue sur la page d'accueil !</h1>
</div>
    <div class="container mt-4">
        <div class="row">

            {% for upcome in upcoming.results %}

                    <div class="col-sm-3 col-lg-3 col-md-6 d-flex">
                        <div class="card h-150 mt-3">
                            <img class="card-img-top" src="http://image.tmdb.org/t/p/original{{ upcome.poster_path }}" alt="">
                                <div class="card-body">
                                    <h4 class="card-title font-weight-  bold" style="text-align: center; ">{{ upcome.title }}</h4>
                                    <h6 style="color: blue; text-align: center">{{ upcome.release_date | date("d/m/Y") }}</h6>
                                    <p class="card-text">{{ upcome.overview | slice(0,100) }}...</p>
                                    <h5 class="rating">Note : {{ upcome.vote_average }}/10</h5>
                                </div>
                            <form action="" method="post">
                            </form>
                            <a href="{{ path('show_movie', {'id': upcome.id } ) }}" class="btn btn-primary">Lire la suite</a>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <a href="{{ path('lists', {'movie_id': upcome.id } ) }}" class="btn btn-primary">Lire la suite</a>
                            {% endif %}
                        </div>
                    </div>

            {% endfor %}

        </div>
    </div>
    <br>
{% endblock %}